body{
	margin: 30px;
	font-family: 'Roboto', sans-serif;
}

.cuadrado{
	position: relative;
	width: 500px;
	height: 250px;
	background-image:url(../img/yo.jpg);
	background-repeat: no-repeat;
    background-size: contain;
	border: 10px solid rgba(183, 196, 49, 0);
}

.partecontacto{
	position: relative;
    margin-left: 125px;
    top: 10px;
    width: 263px;
    position: absolute;
    border-left: 122px solid transparent;
    border-bottom: 250px solid #7e827e;
}
.partecontacto, .texto{
	margin-top: 30px;
	position: absolute;
	color: #fff;


.img1{
	background-image: url(../img/Laboratoria_Isotipo%20CodeAcademy.png);
}
.img2{
	background-image: url(../img/Laboratoria_Logo.png);
}